:root {
  --cellSize: 25%;
}

#container {
    display: flex;
    flex-wrap: wrap;
    width: 600px;
    height: 600px;
    border: 0.2px solid black;
    box-sizing: border-box;
  }
  
  .cell {
    width: var(--cellSize);
    height: var(--cellSize);
    border: 0.2px solid black; 
    box-sizing: border-box;
  }